In [1]:
import mwu_measures
import pandas as pd
import numpy as np
import mwu_measures.processing_corpus
from mwu_measures.corpus_helper import Fetcher

mwu_examples = pd.read_csv('MultiwordExpression_Concreteness_Ratings.csv')
mwu_examples['length'] = mwu_examples['Expression'].apply(lambda x: len(x.split()))
mwu_examples = mwu_examples.loc[(mwu_examples['length'] == 2) | (mwu_examples['length'] == 3)]
mwu_examples['Expression'] = mwu_examples['Expression'].apply(lambda x: x.lower())
this_corpus = mwu_measures.processing_corpus.get_processed_corpus('bnc', 'bnc_tokenized.txt', chunk_size=10000000, verbose=True)

# this_corpus = mwu_measures.processing_corpus.process_corpus(test_corpus=True)

# ngram_selection = [ngram.split() for ngram in ngram_selection]
# ngram_chunks = np.array_split(ngram_selection, 100)


# bigrams = [['b', 'd'], ['c', 'b'], ['a', 'c']]

helper = Fetcher(this_corpus)

88073 lines processed
178347 lines processed
251137 lines processed
331017 lines processed
417430 lines processed
515742 lines processed
613852 lines processed
688626 lines processed
771777 lines processed
859529 lines processed
942900 lines processed
1047131 lines processed
1123302 lines processed
1235027 lines processed
1333326 lines processed
1429373 lines processed
1524762 lines processed
1622597 lines processed
1725782 lines processed
1809093 lines processed
1884758 lines processed
1961270 lines processed
2040098 lines processed
2120332 lines processed
2197854 lines processed
2289980 lines processed
2373487 lines processed
2463569 lines processed
2537313 lines processed
2608775 lines processed
2690149 lines processed
2759435 lines processed
2861830 lines processed
2953964 lines processed
3046485 lines processed
3145655 lines processed
3259778 lines processed
3376309 lines processed
3475369 lines processed
3566620 lines processed
3654773 lines processed
3770351 lines processed
3855412 lines processed
3938084 lines processed
4033231 lines processed
4130649 lines processed
4237372 lines processed
4416828 lines processed
4622940 lines processed
4747128 lines processed
4823611 lines processed
5011537 lines processed
5156032 lines processed
5241328 lines processed
5333426 lines processed
5416742 lines processed
5505469 lines processed
5581625 lines processed
5668824 lines processed
5759333 lines processed
5838998 lines processed
5921184 lines processed
6006547 lines processed
6026276 lines processed

In [2]:
ngrams = mwu_examples['Expression'].tolist()
helper.create_scores(ngrams)

In [3]:
test_weights = {'token_freq': 1/8, 'dispersion': 1/4, 'type_1': 1/16, 'type_2': 1/16, 'entropy_1': 1/16, 'entropy_2': 1/16, 'fw_assoc': 1/8, 'bw_assoc': 1/4}

In [4]:
ngrams = ['come in handy', 'family friend', 'database management system', 'one hundred percent', 'line of control', 'like a', 'boiled potatoes']

In [5]:
self = helper
normalized=True

In [9]:
helper.get_measures_batch(ngrams, normalized=True)

,comp_1,comp_2,token_freq,dispersion,type_1,type_2,entropy_1,entropy_2,fw_assoc,bw_assoc,ngram_length
0,family,friend,0.306055,0.738000,0.588162,0.678150,0.500282,0.500190,0.006207,0.011662,2
1,boiled,potatoes,0.237780,0.448322,0.503197,0.421040,0.490026,0.497308,0.388740,0.193991,2
2,one,hundred,0.535817,0.855460,0.502341,0.793108,0.487994,0.499623,0.021301,0.249270,2
3,database,management,0.363979,0.488031,0.665898,0.536840,0.498818,0.474601,0.288957,0.046199,2
4,line,of,0.589589,0.948757,0.930747,0.651342,0.499995,0.477142,0.148380,0.000962,2
5,come,in,0.604077,0.877303,0.953775,0.613260,0.499977,0.495745,0.043213,0.001328,2
6,like,a,0.729322,0.984868,0.910563,0.802596,0.499845,0.485742,0.222325,0.014127,2
7,database management,system,0.406293,0.382935,0.694641,0.274499,0.499705,1.000000,0.987556,0.016304,3
8,come in,handy,0.379369,0.869076,0.438008,0.584389,0.638455,0.503814,0.123309,0.500560,3
9,one hundred,percent,0.375410,0.414495,0.504672,0.509002,0.521767,0.468107,0.259393,0.162309,3
10,line of,control,0.201654,0.145772,0.678161,0.635336,0.502535,0.500223,0.005457,0.000666,3

In [10]:
helper.get_score_batch(ngrams)

                 comp_1      comp_2  mwu_score  ngram_length
0                family      friend   0.416088             2
1                boiled    potatoes   0.397551             2
2                   one     hundred   0.493114             2
3              database  management   0.420415             2
4                  line          of   0.530864             2
5                  come          in   0.511085             2
6                  like           a   0.581174             2
7   database management      system   0.532742             3
8               come in       handy   0.504622             3
9           one hundred     percent   0.401894             3
10              line of     control   0.333726             3

In [ ]:
bigrams = []
trigrams = []
for ngram in ngrams:
    split_ngram = ngram.split()
    if len(split_ngram) == 2:
        bigrams.append((split_ngram[0], split_ngram[1]))
    elif len(split_ngram) == 3:
        bigrams.append((split_ngram[0], split_ngram[1]))
        trigrams.append((' '.join((split_ngram[0], split_ngram[1])), split_ngram[2]))
bigrams = pd.DataFrame(bigrams, columns=['ug_1', 'ug_2'])
trigrams = pd.DataFrame(trigrams, columns=['big_1', 'ug_3'])
if normalized:
    mode = 'normalized'
else:
    mode = 'raw'
bigram_scores = pd.merge(self.bigram_scores[mode], bigrams, how='inner')

In [ ]:
trigrams

In [ ]:

trigram_scores = pd.merge(self.trigram_scores[mode], trigrams, how='inner')

In [ ]:
trigram_scores

In [ ]:
bigrams = pd.DataFrame(bigrams, columns=['ug_1', 'ug_2'])

In [ ]:
self.bigram_scores[mode].loc[(self.bigram_scores[mode].ug_1.isin(bigrams.ug_1)) & (self.bigram_scores[mode].ug_2.isin(bigrams.ug_2))]

In [ ]:
x = helper.get_measures('come in handy')
def weight_measures(mwu_measures, weight_dict=default_weights):
    for col in mwu_measures.columns:
        if col in weight_dict.keys():
            mwu_measures[col] = mwu_measures[col] * weight_dict[col]
    return(mwu_measures)
x

In [ ]:
y = weight_measures(x)

In [ ]:
len(y)

In [ ]:
y.drop('ngram_length', axis=1).sum(axis=1, numeric_only=True)

In [ ]:
helper.bigram_scores['normalized'].loc[helper.bigram_scores['normalized']['ngram_length'] == 2]

In [ ]:
len(helper.trigram_scores['scores'].loc[(helper.trigram_scores['scores'].big_1 == 'the middle') & (helper.trigram_scores['scores'].ug_3 == 'of')])

In [ ]:
def create_scores(self, ngrams):
    bigrams = []
    trigrams = []

    for ngram in ngrams:
        split_ngram = ngram.split()
        if len(split_ngram) == 2:
            bigrams.append(tuple(split_ngram))
        elif len(split_ngram) == 3:
            bigrams.append((split_ngram[0], split_ngram[1]))
            trigrams.append((' '.join((split_ngram[0], split_ngram[1])), split_ngram[2]))
    bigrams = [list(bigram) for bigram in set(bigrams)]
    trigrams = [list(trigram) for trigram in set(trigrams)]
    self.bigram_scores = helper.get_ngram_scores(bigrams, 'ug_1', 'ug_2', 2)
    self.trigram_scores = helper.get_ngram_scores(trigrams, 'big_1', 'ug_3', 3)

In [ ]:
bigrams

In [ ]:
bigram_scores = helper.get_ngram_scores(bigrams, 'ug_1', 'ug_2', 2)
trigram_scores = helper.get_ngram_scores(trigrams, 'big_1', 'ug_3', 3)

In [ ]:
trigram_scores

In [ ]:
x = helper.get_ngram_scores('big_1', 'ug_3', 3) # assocs don't work in trigrams

In [ ]:
helper.allocate_filtered_db('big_1', 'ug_3')

In [ ]:
helper.create_query(trigrams, 'big_1', 'ug_3')

In [ ]:
x['raw'].sort_values(by=['fw_assoc'], ascending=False)

In [ ]:
# TODO: function to get all ngrams with different lengths
# TODO: batches to not crash memory when using complete corpus. Worth it? faster because of the simpler joins? worth it to hash?

In [ ]:
self = helper

In [ ]:
source = 'ug_1'
target = 'ug_2'

In [ ]:
self(
f"""
CREATE OR REPLACE TABLE rel_freqs AS
SELECT 
    {source},
    {target},
    token_freq,
    unigram_totals.freq AS source_freq,
    unigram_totals.total_ug 
FROM token_freq
LEFT JOIN unigram_totals
ON token_freq.{source} = unigram_totals.ug
""")
self(
f"""
CREATE OR REPLACE TABLE rel_freqs AS
SELECT 
    {source},
    {target},
    token_freq,
    source_freq,
    unigram_totals.freq AS target_freq,
    rel_freqs.total_ug
FROM rel_freqs
LEFT JOIN unigram_totals
ON rel_freqs.{target} = unigram_totals.ug
""")
self("SELECT * FROM rel_freqs ORDER BY ug_1").fetch_df()

In [ ]:
self(f"""SELECT DISTINCT {target}, freq as target_freq FROM token_freq INNER JOIN (SELECT {target}, SUM(freq) AS freq FROM filtered_db GROUP BY {target}) USING ({target})""").fetch_df()

In [ ]:
self(
    f"""
    WITH source_freq AS (
        SELECT DISTINCT {source},
        freq as source_freq 
        FROM token_freq 
        INNER JOIN (
            SELECT 
                {source},
                SUM(freq) AS freq
            FROM filtered_db
            GROUP BY {source}
            )
        USING ({source})
    ), target_freq AS (
        SELECT DISTINCT {target},
        freq as target_freq 
        FROM token_freq 
        INNER JOIN (
            SELECT 
                {target},
                SUM(freq) AS freq
            FROM filtered_db
            GROUP BY {target}
            )
        USING ({target})
    )
    SELECT 
        *,
        (SELECT SUM(freq) AS total_freq FROM trigram_db) AS total_freq
    FROM token_freq
    LEFT JOIN source_freq
    USING ({source})
    LEFT JOIN target_freq
    USING ({target})
    ORDER BY ug_1
""").fetch_df()
# for now, sloppy: divide by total trigrams for convenience, independent of length of ngram. Difference is not much.

In [ ]:
self("SELECT sum(freq) FROM trigram_db").fetch_df()

In [ ]:
self("SELECT * FROM rel_freqs").fetch_df()

In [ ]:

        self(
        f"""
        CREATE OR REPLACE TABLE rel_freqs AS
        SELECT 
            {source},
            {target},
            token_freq,
            source_freq,
            unigram_totals.freq AS target_freq,
            rel_freqs.total_ug
        FROM rel_freqs
        LEFT JOIN unigram_totals
        ON rel_freqs.{target} = unigram_totals.ug
        """)

        self(
        f"""
        CREATE OR REPLACE TABLE associations AS
        WITH probs_db AS (
            SELECT
                {source},
                {target}, 
                token_freq / source_freq AS prob_2_1,
                token_freq / target_freq AS prob_1_2,
                source_freq / total_ug AS prob_1,
                target_freq / total_ug AS prob_2
            FROM rel_freqs
        ), all_probs AS (
            SELECT
                {source},
                {target},
                prob_2_1,
                prob_1_2,
                prob_1,
                prob_2,
                1 - prob_2_1 AS prob_no_2_1,
                1 - prob_1_2 AS prob_no_1_2,
                1 - prob_1 AS prob_no_1,
                1 - prob_2 AS prob_no_2
            FROM probs_db
        ), forward_kld AS (
            SELECT
                {source},
                {target},
                prob_2_1 * log2(prob_2_1 / prob_2) AS kld_1,
                CASE
                    WHEN prob_no_2_1 = 0 THEN 0
                    ELSE (1 - prob_2_1) * log2((1 - prob_2_1) / (1 - prob_2))
                END AS kld_2
            FROM all_probs
        ), forward_assoc AS (
            SELECT
                {source},
                {target},
                1 - pow(EXP(1), -(kld_1 + kld_2)) AS fw_assoc
            FROM forward_kld
        ), backward_kld AS (
            SELECT
                {source},
                {target},
                prob_1_2 * log2(prob_1_2 / prob_1) AS kld_1,
                CASE
                    WHEN prob_no_1_2 = 0 THEN 0
                    ELSE (1 - prob_1_2) * log2((1 - prob_1_2) / (1 - prob_1))
                END AS kld_2
            FROM all_probs
        ), backward_assoc AS (
            SELECT
                {source},
                {target},
                1 - pow(EXP(1), -(kld_1 + kld_2)) AS bw_assoc
            FROM backward_kld
        )
        SELECT *
        FROM forward_assoc
        LEFT JOIN backward_assoc
        USING({source}, {target})
    """)