In [2]:
# # import re
# from collections import defaultdict, Counter
# # from itertools import groupby
# # from nltk import flatten
# # from nltk.util import trigrams as get_trigrams
# from mwu_measures.preprocessing_corpus import clean_bnc_line, preprocess_bnc
# # import mwu_measures
# from mwu_measures.processing_corpus import Corpus
import mwu_measures
from mwu_measures.compute_functions import min_max_norm
from mwu_measures import compute_functions
from mwu_measures import processing_corpus
# from mwu_measures.mwu_functions import get_association, get_entropy_dif
from collections import defaultdict, Counter
# from nltk import FreqDist
import numpy as np
import pandas as pd

In [66]:
this_corpus = processing_corpus.process_corpus(corpus_name = 'bnc', corpus_dir='bnc_tokenized.txt', chunk_size=10000000, verbose=True)

88073 lines processed
178347 lines processed
251137 lines processed
331017 lines processed
417430 lines processed
515742 lines processed
613852 lines processed
688626 lines processed
771777 lines processed
859529 lines processed
942900 lines processed
1047131 lines processed
1123302 lines processed
1235027 lines processed
1333326 lines processed
1429373 lines processed
1524762 lines processed
1622597 lines processed
1725782 lines processed
1809093 lines processed
1884758 lines processed
1961270 lines processed
2040098 lines processed
2120332 lines processed
2197854 lines processed
2289980 lines processed
2373487 lines processed
2463569 lines processed
2537313 lines processed
2608775 lines processed
2690149 lines processed
2759435 lines processed
2861830 lines processed
2953964 lines processed
3046485 lines processed
3145655 lines processed
3259778 lines processed
3376309 lines processed
3475369 lines processed
3566620 lines processed
3654773 lines processed
3770351 lines processed
3855412 lines processed
3938084 lines processed
4033231 lines processed
4130649 lines processed
4237372 lines processed
4416828 lines processed
4622940 lines processed
4747128 lines processed
4823611 lines processed
5011537 lines processed
5156032 lines processed
5241328 lines processed
5333426 lines processed
5416742 lines processed
5505469 lines processed
5581625 lines processed
5668824 lines processed
5759333 lines processed
5838998 lines processed
5921184 lines processed
6006547 lines processed
6026276 lines processed

In [67]:
mwu_examples = pd.read_csv('MultiwordExpression_Concreteness_Ratings.csv')
mwu_examples['length'] = mwu_examples['Expression'].apply(lambda x: len(x.split()))
mwu_examples = mwu_examples.loc[(mwu_examples['length'] == 2) | (mwu_examples['length'] == 3)]
mwu_examples['Expression'] = mwu_examples['Expression'].apply(lambda x: x.lower())
mwu_examples = mwu_examples.sample(10000)

In [68]:
ngram_list = mwu_examples.Expression
bigrams = [ngram.split() for ngram in ngram_list if len(ngram.split()) == 2]
trigrams = [ngram.split() for ngram in ngram_list if len(ngram.split()) == 3]

In [69]:
trigram_query = pd.DataFrame(trigrams, columns=['ug_1', 'ug_2', 'ug_3'])
this_corpus.corpus_conn.execute("CREATE TEMPORARY TABLE trigram_query (ug_1 TEXT, ug_2 TEXT, ug_3 TEXT)")
this_corpus.corpus_conn.register('trigram_query_list', trigram_query)
this_corpus.corpus_conn.execute("INSERT INTO trigram_query SELECT * FROM trigram_query_list")

In [ ]:
trigram_per_corpus = this_corpus.corpus_conn.execute("""
    SELECT * FROM trigram_db 
    WHERE (ug_1 IN (SELECT ug_1 FROM trigram_query) AND ug_2 IN (SELECT ug_2 FROM trigram_query)) OR (ug_3 IN (SELECT ug_3 FROM trigram_query))
""").fetch_df()
# trigram_total = this_corpus.corpus_conn.execute("""
#     SELECT ug_1, ug_2, ug_3, sum(freq) as freq FROM trigram_db 
#     WHERE (ug_1 IN (SELECT ug_1 FROM trigram_query) AND ug_2 IN (SELECT ug_2 FROM trigram_query)) OR (ug_3 IN (SELECT ug_3 FROM trigram_query))
#     GROUP BY (ug_1, ug_2, ug_3)
# """).fetch_df()

In [71]:
bigram_query = pd.DataFrame(bigrams, columns=['ug_1', 'ug_2'])
this_corpus.corpus_conn.execute("CREATE TEMPORARY TABLE bigram_query (ug_1 TEXT, ug_2 TEXT)")
this_corpus.corpus_conn.register('bigram_query_list', bigram_query)
this_corpus.corpus_conn.execute("INSERT INTO bigram_query SELECT * FROM bigram_query_list")

In [ ]:
# this_corpus.corpus_conn.execute("DROP TABLE bigram_query")

In [ ]:
bigram_per_corpus = this_corpus.corpus_conn.execute("""
    SELECT corpus, ug_1, ug_2, sum(freq) AS freq FROM trigram_db 
    WHERE (ug_1 IN (SELECT ug_1 FROM bigram_query)) OR (ug_2 IN (SELECT ug_2 FROM bigram_query))
    GROUP BY corpus, ug_1, ug_2
""").fetch_df()
# bigram_total = this_corpus.corpus_conn.execute("""
#     SELECT ug_1, ug_2, sum(freq) AS freq FROM trigram_db 
#     WHERE (ug_1 IN (SELECT ug_1 FROM bigram_query)) OR (ug_2 IN (SELECT ug_2 FROM bigram_query))
#     GROUP BY ug_1, ug_2
# """).fetch_df()

In [ ]:
# takes too long, filter DF first

fw_dists = {ngram_1: {corpus:  Counter(dict(zip(data['ug_2'], data['freq']))) for corpus, data in group.groupby('corpus')} for ngram_1, group in bigram_per_corpus.groupby('ug_1')}

KeyboardInterrupt:

In [78]:
fw_dists['A']

         corpus       ug_1        ug_2   freq
11858         A       been  reinstated    2.0
11859         A        and    jonathan   23.0
11860         A         to        both  213.0
11861         A      light         and  263.0
11862         A       with        isla    1.0
...         ...        ...         ...    ...
10975674      A    sandown          in    1.0
10975675      A     rather       minor    1.0
10975676      A    lowndes        will    1.0
10975677      A      index    climbing    1.0
10975678      A  england's       match    1.0

[1609174 rows x 4 columns]

In [6]:
this_corpus.corpus_conn.execute("SELECT * FROM trigram_db ORDER BY corpus").fetch_df()

    corpus   ug_1 ug_2 ug_3  freq
0        A  START    a    d   1.0
1        A      b    f    g   1.0
2        A      o    a    c   1.0
3        A      a    d    c   1.0
4        A      d    c    b   1.0
..     ...    ...  ...  ...   ...
96       C      j    k    r   1.0
97       C      r    e    j   1.0
98       C      h    f    d   1.0
99       C      h    k    o   1.0
100      C      c    b    r   1.0

[101 rows x 5 columns]

In [2]:
this_corpus = mwu_measures.processing_corpus.process_corpus(corpus_name='bnc', corpus_dir='small_corpus.txt', verbose=True, chunk_size=1000000)
this_corpus.create_totals()

8928 lines processed
16500 lines processed
25755 lines processed
34338 lines processed
42803 lines processed
52217 lines processed
61689 lines processed
71326 lines processed
80991 lines processed
90366 lines processed
98040 lines processed
105999 lines processed
114462 lines processed
123188 lines processed
130358 lines processed
137924 lines processed
147611 lines processed
157164 lines processed
168734 lines processed
178303 lines processed
188473 lines processed
196901 lines processed
206573 lines processed
220860 lines processed
237194 lines processed
250060 lines processed
261943 lines processed
270684 lines processed
278913 lines processed
287810 lines processed
296127 lines processed
301046 lines processed
First time normalizing. Need to consolidate...